* {
    margin: 0;
    padding: 0;
}

header, body, footer {
    background-color: antiquewhite;
}

.encabezado-marca{
    text-align: center;
}

.primer-encabezado-nombre {
    color:black
}

.segundo-encabezado-nombre {
    color: brown;
}

nav {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.contenedorvarios{
    display: flex;
    text-align: -webkit-center;
    margin-top: 10px;
}


.imagenprincipal{
    width: 80%;
    float: inline-end;
}

.imagensecundaria{
    width: 30%;
}

.contenedorvariossecundario{
    display: grid;
}

.textosvarios{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.textosvariossecundarios{
    width: 200px;
    padding: 5px;
}

footer ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

footer img{
    width: 20px;
}

.encabezado-marca-anillos{
    text-align: center; 
}

.flex{
    display: flex;
}

.flex img{
    width: 50%; 
}

.flex{
    display: block;
            padding: 5px;
            margin: 5px 
}

main{
    display: flex;
    text-align: -webkit-center;
    margin-top: 5px;
}

main{
    height: 100%;
}

.seccion-informacion{
    background-color: white;
    text-align: center;
    margin: 15px 0;
}

.flexubicacion img{
    margin: 0 10px;
    width: 20%;
}

.grid-container-collares-brazaletes {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: .625rem
}

.grid-container-collares-brazaletes > .item1, .item3 {
    text-align: right;
}

.grid-container-collares-brazaletes > .item2, .item4 {
    text-align: left;
}

.grid-container-menu {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    gap: .625rem
}



@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 1280px) 
{ 
    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto;
        gap: .625rem
    }
    
    .grid-container > .item1, .item3 {
        text-align: right;
    }
    
    .grid-container > .item2, .item4 {
        text-align: left;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{ 
    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto;
        gap: .625rem
    }
    
    .grid-container > .item1, .item3 {
        text-align: right;
    }
    
    .grid-container > .item2, .item4 {
        text-align: left;
    }

    .grid-container-menu {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        gap: .625rem;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
{ 
    .grid-container {
        display: inline-grid;
        grid-template-columns: auto;
        gap: .625rem
    }
    
    .grid-container > div {
        text-align: center !important; 
    }
    
    .grid-container-menu {
        display: inline-grid;
        grid-template-columns: auto;
        gap: .625rem
    }

}


